<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preptime %>
    <%= form.text_field :preptime %>
  </div>

  <div class="field">
    <%= form.label :cooktime %>
    <%= form.text_field :cooktime %>
  </div>

  <div class="field">
    <%= form.label :serving %>
    <%= form.text_field :serving %>
  </div>

  <div class="feild">
    <h3>Instructions</h3>
      <%= form.fields_for :steps do |step_form| %>
        <%= render 'step_fields', f: step_form %>
      <% end %>
      <div>
        <%= link_to_add_fields "Add Step", form, :steps%>
        <%# :class => "btn btn-secondary btn-sml" %>
      </div>
      <br>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
