<h1>Current Pantry</h1>
<div id="CurrentPantry">

</div>
<%= form_tag "/recipes", method: "GET" do %>
  <%= label_tag :search_by_ingredient %>
  <%= text_field_tag :search_by_ingredient, params[:search_by_ingredient] %>

  <%= label_tag :search_by_name %>
  <%= text_field_tag :search_by_name, params[:search_by_name] %>

  <%= submit_tag "Search" %>
<% end %>
<hr/>
<div id="SearchResults">
    <% @recipes.each do |recipe| %>
      <div class="RecipeCard">
        <%= link_to image_tag(recipe.image), "/recipes/" + recipe.id.to_s %>
        <%= recipe.name %>
        <%= recipe.preptime %>
        <%= recipe.cooktime %>
        <%= recipe.serving %>
      </div>
    <% end %>
<div>
