<h1>Current Pantry</h1>
<div id="CurrentPantry">

</div>
<%= form_with do |form|%>

  <%#= form.collection_select :search_by_ingredient, Ingredient.order(:name), :id, :name, {multiple: true} %>
  <%= form.select "search_by_ingredients[]", options_for_select(@ingredients.map{ |i| [i.name, i.id] }, :name), {multiple: true} %>
  <%= form.select "search_by_ingredients[]", options_for_select(@ingredients.map{ |i| [i.name, i.id] }, :name), {multiple: true} %>

  <%= label_tag :search_by_name %>
  <%= text_field_tag :search_by_name, params[:search_by_name] %>

  <%= submit_tag "Search" %>
<% end %>

<hr/>
<div id="SearchResults">
    <% @recipes.each do |recipe| %>
      <div class="RecipeCard">
        <%= link_to image_tag(recipe.image), "/recipes/" + recipe.id.to_s %>
        <%= recipe.name %>
        <%= recipe.preptime %>
        <%= recipe.cooktime %>
        <%= recipe.serving %>
      </div>
    <% end %>
<div>
