<h1>Current Pantry</h1>
<div id="CurrentPantry">

</div>
<%= form_tag "/recipes", method: "GET" do %>

  <%= collection_select :search_by_ingredients, :ingredient_id, Ingredient.all, :id, :name, {} ,{:multiple => true} %>

  <%= label_tag :search_by_name %>
  <%= text_field_tag :search_by_name, params[:search_by_name], autocomplete: "off"%>

  <%= submit_tag "Search" %>
<% end %>

<hr/>
<div id="SearchResults">
    <% @recipes.each do |recipe| %>
      <div class="RecipeCard">
        <a href="<%= "/recipes/" + recipe.id %>">
          <%= image_tag recipe.image%>
          <div class="RecipeCardData">
            <h2><%= recipe.name %></h2>
              <div class="CardMetaData">
                <p> Prep: <%= recipe.preptime %> | Cooktime: <%= recipe.cooktime %> | Servings: <%= recipe.serving %></p>
              </div>
          </div>
        </a>
      </div>
    <% end %>
<div>
