<%= form_with(model: @recipe) do |form| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
        <ul>
          <% @recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="leftColumn"> 
        <div id="ImageUpload">
            <%= form.file_field :image, :required => true, accept: "image/*"%>
        </div>
        <br>
        <h3>Ingredients</h3>
        <%= form.fields_for :recipe_ingredients do |recipe_ingredients_form| %>
            <%= render "ingredient_fields", f: recipe_ingredients_form %>
        <% end %>
        <%= link_to_add_fields "Add Ingredient", form, :recipe_ingredients %>

        <%= link_to 'Back', recipes_path %>
    </div>

    <div id="rightColumn">
        <%= form.text_field :name, placeholder:"Enter Recipe Title", autocomplete: "off"%>

        <h2>Description<h2>
        <%= form.text_field :description, :required => true, placeholder: "Add a recipe description" %>

        <div id="addRecipeMetaData">
            <%= form.text_field :preptime, class: "recipe_meta_data", type: "number", :required => true, placeholder: "Enter Preptime (min)",   autocomplete: "off" %>
            <%= form.text_field :cooktime, class: "recipe_meta_data", type: "number", :required => true, placeholder: "Enter Cooktime (min)",   autocomplete: "off" %>
            <%= form.text_field :serving,  class: "recipe_meta_data", type: "number", :required => true, placeholder: "Enter Serving",          autocomplete: "off" %>
        </div>

        <h3>Instructions</h3>
        <div id="addInstructionsContainer">
            <%= form.fields_for :steps do |steps_form| %>
                <%= render "step_fields", f: steps_form %>
            <% end %>
            <%= link_to_add_fields "Add Step", form, :steps %>
        </div>
        <%= form.submit id: "newRecipeSubmit"%>
    </div>
<% end %>
