<%= javascript_pack_tag 'recipes' %>
<div class="RecipeShow">
  <div class="leftColumn">
    <div id="ShowImage">
      <img src=<%=(url_for(@recipe.image))%> width="300">
    </div>

    <h3>Ingredients</h3>
    <ol>
      <% for @recipe_ingredient in @recipe.recipe_ingredients %>
        <li><%= @recipe_ingredient.quantity%> <%= @recipe_ingredient.unit.name%> <%= @recipe_ingredient.ingredient.name%> </li>
      <% end %>
    </ol>
  </div>
  
  <div class="rightColumn">
    <div class="ShowName">
      <p>
        <strong></strong>
        <%= @recipe.name %>
      </p>
    </div>

    <hr>

    <div class="ShowDetails">
      <p>
        <strong>Preptime:</strong>
        <%= @recipe.preptime %>
        minutes
      </p>

      <p>
        <strong>Cooktime:</strong>
        <%= @recipe.cooktime %>
        minutes
      </p>

      <p>
        <strong>Serving:</strong>
        <%= @recipe.serving %>
      </p>
    </div>

    <hr>

    <p>
      <h3>Description</h3>
      <%= @recipe.description%>
    </p>

    <h3>Instructions</h3>
      <ol>
        <% for @step in @recipe.steps %>
          <li><%= @step.instruction %></li>
        <% end %>
      </ol>
  </div>

</div>
<%# Comment Section %>
<div id="ShowComments">
  <h2>Comments<h2>
  
  <%# only signed in users are able to add comments %>
  <% if user_signed_in? %>
    <div>
      <%= render 'comment', comment: @comment %>
    </div>
  <% else %>
    <p> <%= link_to('Login', new_user_session_path)  %> to comment</p>
  <% end %>
  <% @recipe.comments.each do |comment| %>
    <p><%=comment.inspect%></p>
  <% end %>


</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>