<div id="SideNav">
    <%= link_to "Saved Pantry", account_path%>
    <%= link_to "Saved Recipes", account_recipes_path%>
    <%= link_to "Edit Account", account_edit_path%> 
</div>

<%# this will be the area to the right, as the user clicks the buttons the styles
    will updated from display: none to display: block or something. This can be done using
    javascript %>
<div id="MainContent">
    <h1>
        &ensp;Saved Recipes
    </h1>

    <div id="SavedRecipes" class="BasicContainer">
        <%if current_user.saved_recipes == [""]%>
            <h2 style="color:black; font-size: 35px; text-align: center;font-weight: 350;">
                No Saved Ingredients Currently
            </h2>
        <% else %>
        <div id="SearchResults">
            <% current_user.saved_recipes.each do |recipe| %>
            <%recipe = Recipe.find_by(:id => recipe)%>
            <div class="RecipeCard">
                <a href="<%= "/recipes/" + recipe.id %>">
                <%= image_tag recipe.image%>
                <div class="RecipeCardData">
                    <h2><%= recipe.name %></h2>
                    <div class="CardMetaData">
                        <p> Prep: <%= recipe.preptime %> | Cooktime: <%= recipe.cooktime %> | Servings: <%= recipe.serving %></p>
                    </div>
                </div>
                </a>
            </div>
            <% end %>
        <% end %>
    </div>
</div>